Gabriel Beatty
SDEV 220
Module 4 Programming Assignment

In [1]:
%pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\gabri\anaconda3\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\users\gabri\anaconda3\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\gabri\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import sqlalchemy
print(sqlalchemy.__version__)

2.0.43

#11.1- Create file, define function, call function

In [3]:
%%writefile zoo.py
def hours():
    print('Open 9-5 daily')

Writing zoo.py

In [4]:
import zoo
zoo.hours()

Open 9-5 daily

#11.2- Use Alias

In [5]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

#Required prior to 16.8

In [6]:
import sqlite3

# Connect to the database file
# Will be in the same folder as the notebook itself
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Create the table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# data set needed 
books_to_add = [
    ('Inferno', 'Dante Alighieri', 1321),
    ('Angels', 'Billy Graham', 1321),
]
cursor.executemany('INSERT INTO books VALUES (?,?,?)', books_to_add)

# Save and close
conn.commit()
conn.close()

#16.8

In [7]:
from sqlalchemy import create_engine, text

# 'sqlite:///' (3 slashes) indicates a relative path to this file
engine = create_engine('sqlite:///books.db')

with engine.connect() as connection:
  
    query = text("SELECT title FROM books ORDER BY title ASC")
    result = connection.execute(query)
    
    print("Titles in Alphabetical Order:")
    for row in result:       
        print(f"- {row.title}")

Titles in Alphabetical Order:
- Angels
- Inferno